.slider{
	margin:50px auto;
	width:50%;
}
 
.start{
    border:none;
	background:darkgray;
	padding:10px 30px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin:10px auto;	
}

.start:hover{
    background: black;
}

.stop{
    border:none;
	background:darkgray;
	padding:10px 30px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin:10px auto;	
}

.stop:hover{
    background: black;
}

.img-box img{
	width: 450px;
    height: 450px;
}

.btn{
	border:none;
	background:darkgray;
	padding:10px 30px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: black;
}

.img-container{
    display: flex;
	gap: 10px;
}

.imgs{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}